.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 50px;
    right:100px;
    width: 185px;
    height: 60px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: $secondary-light;
    z-index: 1;
}