.item {
    overflow: hidden;
    text-align: center;
    background-color: $secondary-heavy;
    border-radius: 0.5rem;
    color: #000;
    height: 10px;

    &.active {
        background-color: $primary-heavy;
        color: azure;
    }

    &.eventful {
        background-color: $tertiary-heavy;
        width: 14px !important;
        margin-left: -2px;
    }

    &.small {
        height: 10px;
    }

    &.medium {
        height: 25px;
    }

    &.large {
        height: 50px;
    }
}